<section class="block-with-bullets">
  <div class="container container-fluid--md">
    <div class="row">
      <div class="col-12 col-md-4 bg-blue">
        <div class="block-heading h-100">
          <h1 class="block-heading--title">
            {{ section.settings.title | escape }}
          </h1>
        </div>
      </div>
      <div class="col-12 col-md-8 bg-white">
        <ul class="block-bullets">
          <li class="block-bullets--item">
            {% if section.settings.bullet_one_heading != blank %}
            <h3 class="block-bullets__heading">
              {{ section.settings.bullet_one_heading | escape }}
            </h3>
            {% endif %}
            {% if section.settings.bullet_one_text != blank %}
            <div class="block-bullets__text">
              {{ section.settings.bullet_one_text }}
            </div>
            {% endif %}
          </li>
          <li class="block-bullets--item">
            {% if section.settings.bullet_two_heading != blank %}
            <h3 class="block-bullets__heading">
              {{ section.settings.bullet_two_heading | escape }}
            </h3>
            {% endif %}
            {% if section.settings.bullet_two_text != blank %}
            <div class="block-bullets__text">
              {{ section.settings.bullet_two_text }}
            </div>
            {% endif %}
          </li>
          <li class="block-bullets--item">
            {% if section.settings.bullet_three_heading != blank %}
            <h3 class="block-bullets__heading">
              {{ section.settings.bullet_three_heading | escape }}
            </h3>
            {% endif %}
            {% if section.settings.bullet_three_text != blank %}
            <div class="block-bullets__text">
              {{ section.settings.bullet_three_text }}
            </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Block with Bullets",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Example Section Title"
      },
      {
        "type": "text",
        "id": "bullet_one_heading",
        "label": "Bullet One Heading",
        "default": "Example Heading"
      },
      {
        "type": "richtext",
        "id": "bullet_one_text",
        "label": "Bullet One Text",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis volutpat vestibulum. Suspendisse faucibus et libero nec pellentesque. Ut pharetra dolor ac ligula sollicitudin vulputate. </p>"
      },
      {
        "type": "text",
        "id": "bullet_two_heading",
        "label": "Bullet One Heading",
        "default": "Example Heading"
      },
      {
        "type": "richtext",
        "id": "bullet_two_text",
        "label": "Bullet One Text",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis volutpat vestibulum. Suspendisse faucibus et libero nec pellentesque. Ut pharetra dolor ac ligula sollicitudin vulputate. </p>"
      },
      {
        "type": "text",
        "id": "bullet_three_heading",
        "label": "Bullet Two Heading",
        "default": "Example Heading"
      },
      {
        "type": "richtext",
        "id": "bullet_three_text",
        "label": "Bullet Three Text",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis volutpat vestibulum. Suspendisse faucibus et libero nec pellentesque. Ut pharetra dolor ac ligula sollicitudin vulputate. </p>"
      }
    ],
    "presets": [
      {
        "name": "Block with Bullets",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
